<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" ng-controller="extrasCtrl">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">iFlow</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Hotel & Resorts
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}"  >
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="fa fa-building-o"></i>Sedes</a>
                <ul class="nav-dropdown-items">
                    <li ng-repeat="branch in branches" class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.branches({branchId: branch.id['N']})"><i class="fa fa-building"></i>{{branch.name["S"]}}<span class="badge badge-light">{{branch.screens["L"].length}} <span class="fa fa-tv"></span></span></a>
                    </li>
                   <!-- <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.buttons"><i class="icon-puzzle"></i> Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> Social Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.cards"><i class="icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.forms"><i class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.switches"><i class="icon-puzzle"></i> Switches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.tables"><i class="icon-puzzle"></i> Tables</a>
                    </li>-->
                </ul>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Contenido
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.videos')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.images')}" href="#"><i class="fa fa-file-archive-o"></i> Contenido</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.videos"><i class="fa fa-file-video-o"></i> Videos <span class="badge badge-light">{{sizeVideos}} </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.images"><i class="fa fa-image"></i>  Imagenes<span class="badge badge-light">{{sizeImages}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.promotions"><i class="fa fa-gift"></i>  Promociones<span class="badge badge-light">{{sizePrmotions}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.intervals"><i class="fa fa-gift"></i>  Intervalos</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>